{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon Price Notification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'PriceApp/Price.css' %}">
</head>
<body>
<div class="container">
  <h1>Welcome to the Amazon price notification website</h1>
  <form action="../../submit" method="get">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="form-email" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Amazon Product Link</label>
      <input type="url" class="form-control" name="form-url" id="exampleInputPassword1">
    </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Price wanted</label>
      <input type="number" class="form-control" name="form-price" id="price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="instructions">
    <h2>How It Works</h2>
    <div class="instructions-text">
      <h4>Simply enter your email, the URL of the product, and the maximum amount that you are willing to pay.</h4>
      <h4>You will receive an email notifying you when the price of the product will go below the amount you entered.</h4>
    </div>
  </div>

</div>
</body>
</html>